.card-container{
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    gap: 20px;
    color: #3e4958;
    .card{
        padding: 10px;
        .card-body{
            text-align: left;
            padding: 0 0;
        }
        .card-img{
            border-radius: unset;
        }
    }
}
